.modal {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
}

.modal__content.active {
    transform: scale(1);
}